@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --padding-default-medium: 4em;
    --padding-default-large: 6.5em;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

#principal {
    width: 64em;
    margin: 1.25em auto;
}

.header-top {
    background-color: #162028;
    display: flex;
    justify-content: space-between;
}

h1,
h2 {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-style: normal;
}


.logotipo {
    margin: .5em 0 .5em 6em;
    color: white;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    list-style: none;
    display: inline-block;
    margin: 0.9em 1em 0 0;
    padding: 1em;
}

.menu a{
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .8em;
    transition: color .3s linear;
}

.menu a:hover{
    color: white;
}

.content{
    padding:  var(--padding-default-medium) var(--padding-default-large);
    text-align: center;
}

.content-title{
    font-size: 2.6em;
    color: #252525;
}

.content-text{
    color: #555;
    line-height: 2;
    font-size: 1em;
}

.gallery{
    display: flex;
    justify-content: space-between;
    color: #555;
    text-align: center;
}

.cards-names{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
    font-size: 1em;
}

.final{
    background-color:  #003d52;
    padding: var(--padding-default-large);
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.final h1{
    font-size: 3em;
    font-weight: normal;
}

.final p{
    font-size: 1.5em;
    width: 70%;
}

footer{
    background-color: #0b171f;
    color:  #6f8597;
    text-align: center;
    padding: 1em;
    letter-spacing: .3em;
    font-size: .78em;
}